.tip:hover .tooltip {
  display: block;
}
/* 用伪元素做小尖角 */
.tooltip::before {
  content: '';
  position: absolute;
  top: -16px;
  /* 往上靠近16px */
  left: 10px;
  border: 8px solid transparent;
  border-bottom-color: #000;
}